<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="realtimeanalysis.design.Activator"
               id="realtimeanalysis.design"
	       name="realtimeanalysis">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="realtimeanalysis.design.AddDestinationToVL"
           id="realtimeanalysis.design.addDestinationToVL">
     </javaActions>
  </extension>
</plugin>
